<div id="utterances-container"></div>

<script>
  const script = document.createElement("script");
  const container = document.querySelector("#utterances-container");
  Object.entries({
    src: "https://utteranc.es/client.js",
    repo: "debugtheworldbot/astro-paper",
    "issue-term": "pathname",
    them: "github-light",
    crossorigin: "anonymous",
    label: "post comments",
  }).forEach(([key, value]) => {
    script.setAttribute(key, value);
  });

  container?.appendChild(script);
</script>
